@import 'reset.css';
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* .mainArea {
  background: #868686;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

.bannerArea {
  overflow: hidden;
}
.bannerArea .wrap {
  padding: 0;
}
.bannerArea .bannerBox {
  position: relative;
}
.bannerArea .Img {
  width: 100%;
  height: 100%;
}
.bannerArea .Img img {
  display: block;
  width: 100%;
  height: 100%;
}
.bannerArea .ImgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bannerArea .ImgBox .logo {
  position: absolute;
  bottom: 17.9%;
  right: 5.8%;
  width: 37.6%;
  height: auto;
  aspect-ratio: 540/323;
}
.bannerArea .ImgBox .logo .Img {
  -webkit-animation: bomb 1s ease-in-out infinite alternate;
          animation: bomb 1s ease-in-out infinite alternate;
}
@-webkit-keyframes bomb {
  0% {
    -webkit-transform: scale(1) rotate(-10deg);
            transform: scale(1) rotate(-10deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotate(10deg);
            transform: scale(1.5) rotate(10deg);
  }
}
@keyframes bomb {
  0% {
    -webkit-transform: scale(1) rotate(-10deg);
            transform: scale(1) rotate(-10deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotate(10deg);
            transform: scale(1.5) rotate(10deg);
  }
}
.bannerArea .ImgBox .man {
  position: relative;
  width: auto;
  height: 100%;
  aspect-ratio: 1097/823;
}
.bannerArea .ImgBox .man .Img {
  position: absolute;
  top: 0;
  left: 0;
}
.bannerArea .ImgBox .man .eyes {
  position: relative;
  width: 100%;
  height: 100%;
}
.bannerArea .ImgBox .man .eyes .leftEye {
  top: 37.2%;
  left: 52.9%;
  width: 4%;
  height: auto;
  aspect-ratio: 41/33;
}
.bannerArea .ImgBox .man .eyes .rightEye {
  top: 36.6%;
  left: 66.4%;
  width: 3.7%;
  height: auto;
  aspect-ratio: 39/32;
}